# Java / Spring Boot ignores
*.class
*.jar
*.war
*.ear
*.logs
.gradle/
.mvn/
build/
target/
!**/src/main/**/target/
!**/src/test/**/target/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# Angular ignores
.angular/
node_modules/
npm-debug.log
yarn-error.log
dist/
coverage/
.sass-cache/
connect.lock
libpeerconnection.log
testem.log
typings/
.DS_Store
Thumbs.db

# IDE specific files
.idea/
*.iml
*.iws
*.ipr
.vscode/
*.sublime-workspace
*.sublime-project
*.swp
*~
.history/

# Misc
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.git
.gitignore
README.md
LICENSE
